<!DOCTYPE html>
<html>
  
  <head>
    
    <title>
      
    </title>
      
  </head>
  
  <body>
    
    <ul>
      <% name = "Joe" %>
      <% name.each do |n| %>
        <li><%= n %></li>
      <% end %>
    </ul>
    
  </body>
  
  
  
</html>