<!DOCTYPE html>
<html>
  
  <head>
    
    <title>
      
    </title>
      
  </head>
  
  <ul>
    <% name = "Joe" %>
    <% name.each do |n| %>
      <li><%= n %></li>
    <% end %>
  </ul>
  
</html>